// Place all the styles related to the import_csvs controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

.import_csv
  margin-left: 5px
  position: absolute
  bottom: 0px
  label
    text-align: center
  input, button
    margin-left: 20px
    margin-top: 10px