.import_csv
  form novalidate="" name="form" ng-submit="sendForm('hello')"
    input ng-model="ctrl.playlist.year" label="Название профиля"

  
    button type="submit" ng-disabled="form.$invalid" Сохранить
